@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    font-family:'Roboto', sans-serif;
}
.site-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin-top: 50px;
    font-size: 18px;
}

.site-container {
    margin-left: 70px;
}

.img-container {
    width: 10px;
    height: 10px;
    margin-left: 80px;
    margin-top: 50px;
    float: left;
    width: 40%
}

img {
    border-style: groove;
    border-width: 1px;
    height: 470px;
    width: 350px;
}


.product-detail {
    margin-top: 20px;
    margin-left: 40px;
    float: right;
    width: 60%;
}

.product {
    font-weight: 600;
    font-size: 15px;
}

.product-type {
    margin-top:20px;
    font-size: 11px;
    color: #5b665b;
    font-weight:600px;
    font-weight: bold;
}

.product-rating {
    margin-top:20px;
    font-size: 12px;
}

.product-price {
    margin-top:20px;
    font-weight: 600;
    font-size: 13px;
    word-spacing:3px;;
}

#span-1 {
    font-size:10px;
    font-weight:0;
    text-decoration: line-through;
}

#span-2 {
    color:#69b87c;
    font-weight:600;
}

.product-description {
    margin-top:20px;
    width: 600px;
    font-weight: 600;
    font-size:13px;
}

.product-LHS {
    margin-top:20px;
    font-weight: 600;
    width:30%;
    float: left;
    font-size: 13;
}

.product-RHS {
    float: right;
    margin-top:20px;
    font-size: 13;
    width:70%;
}

.buy-button {
    float: right;
    width: 100%;
}

.button {
    height: 35px;
    border: none;
    border-radius:5px;
    text-align: center;
    padding: 10px 15px;
    font-weight: 300;
    font-family:'Roboto', sans-serif;
}

.button1 {
    background-color:#285fc7;
    color:#fff;
}

.button2 {
    margin-left: 10px;;
}



